Document cryptographic algorithms used by Electron

In order to submit Atom Electron app to the Mac App Store you have to provide information about the cryptography algorithms that your app "uses, accesses, implements or incorporates". Check [this tutorial](https://carouselapps.com/2015/12/15/legally-submit-app-apples-app-store-uses-encryption-obtain-ern/) for more info.

I would propose to create a documentation page that would list all cryptography algorithms used by Atom Electron so that we could reference it when filling the legal forms.

Here is a list of algorithms I have pulled from Chromium's [WebCrypto](https://www.chromium.org/blink/webcrypto) page:
- RSASSA-PKCS1-v1_5 [RFC 3447](http://www.ietf.org/rfc/rfc3447)
- RSA-PSS [RFC 3447](http://www.ietf.org/rfc/rfc3447)
- RSA-OAEP - [RFC 3447](http://www.ietf.org/rfc/rfc3447)
- ECDSA - ANS X9.62–2005
- ECDH - ANS X9.63–2001
- AES-CTR - [NIST SP 800-38A](http://csrc.nist.gov/publications/nistpubs/800-38a/sp800-38a.pdf)
- AES-CBC - [NIST SP 800-38A](http://csrc.nist.gov/publications/nistpubs/800-38a/sp800-38a.pdf)
- AES-GCM - [NIST SP 800-38D](http://csrc.nist.gov/publications/nistpubs/800-38D/SP-800-38D.pdf) 
- AES-KW - [RFC3394](http://www.ietf.org/rfc/rfc3394.txt)
- HMAC - [FIPS 198-1](http://csrc.nist.gov/publications/fips/fips198-1/FIPS-198-1_final.pdf)
- SHA-1 - [FIPS 180-4](http://csrc.nist.gov/publications/fips/fips180-4/fips-180-4.pdf)
- SHA-256 - [FIPS 180-4](http://csrc.nist.gov/publications/fips/fips180-4/fips-180-4.pdf)
- SHA-384 - [FIPS 180-4](http://csrc.nist.gov/publications/fips/fips180-4/fips-180-4.pdf)
- SHA-512 - [FIPS 180-4](http://csrc.nist.gov/publications/fips/fips180-4/fips-180-4.pdf)
- HKDF - [NIST SP 800-56C](http://csrc.nist.gov/publications/nistpubs/800-56C/SP-800-56C.pdf)
- PBKDF2 - [RFC 2898](https://tools.ietf.org/html/rfc2898)


Second list based on OpenSSL [documentation]:(https://www.openssl.org/docs/manmaster/crypto/crypto.html)
- Blowfish - https://www.schneier.com/cryptography/blowfish/
- CAST-128 (RFC 2144)[https://tools.ietf.org/html/rfc2144]
- CAST-256 (RFC 2612)[https://tools.ietf.org/html/rfc2612]
- DES - [FIPS 46-3](http://csrc.nist.gov/publications/fips/fips46-3/fips46-3.pdf)
- IDEA - Lai, X., "On the Design and Security of Block Ciphers", ETH Series in Information Processing, v. 1, Konstanz: Hartung-Gorre Verlag, 1992.
- RC2 - [RFC 2268](https://tools.ietf.org/html/rfc2268)
- RC4 - [RFC 4345](https://tools.ietf.org/html/rfc4345)
- RC5 - http://people.csail.mit.edu/rivest/Rivest-rc5rev.pdf
- DSA - [ANSI X9.30](http://webstore.ansi.org/RecordDetail.aspx?sku=ANSI+X9.30-1%3A1997)
- DH - [RFC 2631](https://tools.ietf.org/html/rfc2631)
- EC - [SEC 1](http://www.secg.org/sec1-v2.pdf)
- RSA [RFC 3447](http://www.ietf.org/rfc/rfc3447)
- HMAC - [RFC 2104](https://www.ietf.org/rfc/rfc2104.txt)
- MD2 - [RFC 1319](http://tools.ietf.org/html/rfc1319)
- MD4 - [RFC 6150](https://tools.ietf.org/html/rfc6150)
- MD5 - [RFC 1321](https://tools.ietf.org/html/rfc1321)
- MDC2 - [ISO/IEC 10118-2](https://www.openssl.org/docs/manmaster/crypto/mdc2.html)
- RIPEMD - [ISO/IEC 10118-3](http://webstore.ansi.org/RecordDetail.aspx?sku=ISO%2FIEC%2010118-3:2004)
- SHA - [FIPS 180-4](http://csrc.nist.gov/publications/fips/fips180-4/fips-180-4.pdf)